<div class="fitness-newss">
  <div class="container">
    <div class="row">
      <div class="col-md-9" *ngFor="let nhucault of ListNhuCauTL">
        <div class="td-sanpham">
          <h4>
            <a href="/landingpage/fitness">Fitness</a> - nhu cầu tập luyện
          </h4>
        </div>
        <div
          class="container-news"
          itemscope
          itemtype="http://schema.org/ScholarlyArticle"
        >
          <h1 class="name-title">
            <span itemprop="name">{{ nhucault.tieuDe1 }}</span>
          </h1>
        </div>
        <content itemprop="description">
          <div class="total-news">
            <p *ngFor="let data1 of nhucault.thongTin1.split('/')">
              {{ data1 }}
            </p>
          </div>

          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../../assets/img-landingpage/fitness/fitness-nhucau/img1/' +
                nhucault.img1
              "
              alt="1"
            />
          </p>
          <h2>{{ nhucault.tieuDe2 }}</h2>

          <p dir="1tr">
            {{ nhucault.thongTin2 }}
          </p>

          <h2 dir="1tr">{{ nhucault.tieuDe3 }}</h2>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data3 of nhucault.thongTin3.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data3 }}
              </p>
            </li>
          </ul>

          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../../assets/img-landingpage/fitness/fitness-nhucau/img2/' +
                nhucault.img2
              "
              alt="2"
            />
          </p>
          <h2>{{ nhucault.tieuDe4 }}</h2>
          <p *ngFor="let data4 of nhucault.thongTin4.split('/')">
            {{ data4 }}
          </p>

          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../../assets/img-landingpage/fitness/fitness-nhucau/img3/' +
                nhucault.img3
              "
              alt="3"
            />
          </p>

          <h2>{{ nhucault.tieuDe5 }}</h2>
          <p *ngFor="let data5 of nhucault.thongTin5.split('/')">
            {{ data5 }}
          </p>
          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../../assets/img-landingpage/fitness/fitness-nhucau/img5/' +
                nhucault.img5
              "
              alt="5"
            />
          </p>

          <h2>{{ nhucault.tieuDe6 }}</h2>
          <p *ngFor="let data6 of nhucault.thongTin6.split('/')">
            {{ data6 }}
          </p>

          <h2>{{ nhucault.tieuDe7 }}</h2>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data7 of nhucault.thongTin7.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data7 }}
              </p>
            </li>
          </ul>

          <h2>{{ nhucault.tieuDe8 }}</h2>
          <p>{{ nhucault.thongTin8 }}</p>

          <h2>{{ nhucault.tieuDe9 }}</h2>
          <p>{{ nhucault.thongTin9 }}</p>
          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../../assets/img-landingpage/fitness/fitness-nhucau/img4/' +
                nhucault.img4
              "
              alt="4"
            />
          </p>
          <h2>{{ nhucault.tieuDe10 }}</h2>
          <p>{{ nhucault.thongTin10 }}</p>
          <p>{{ nhucault.thongTin11 }}</p>
          <p>{{ nhucault.thongTin12 }}</p>
        </content>
      </div>
      <div class="col-sm-3 hidden-xs hidden-sm">
        <div class="box-sidebar">
          <h3 class="sidebar-h3">Nhu Cầu Tập Luyện</h3>
          <div
            class="box-canhan"
            *ngFor="let nhucau of ListNhuCau"
            (click)="navigateToNhuCau(nhucau.id)"
          >
            <ul class="dm-tt">
              <li>
                <a href="javascript:;">{{ nhucau.nameNhuCau }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="box-sidebar">
          <h3 class="sidebar-h3">Tin Tức Mới</h3>
          <div class="box-canhan" *ngFor="let fitnes of ListFitness">
            <div
              class="box-new"
              *ngIf="fitnes.id === 1 || fitnes.id === 2 || fitnes.id === 4"
              (click)="naviateToFitness(fitnes.id)"
            >
              <h2 class="content-box-new">
                <a href="javascript:;">{{ fitnes.nameFitness }}</a>
              </h2>
              <figure>
                <a href="javascript:;">
                  <img
                    [src]="
                      '../../assets/img-landingpage/fitness/fitness-img/' +
                      fitnes.imgFitness
                    "
                    alt="Cách hít thở hợp lý cho người mới tập gym"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-line"></div>
