.container-fuild {
    min-width: 1200px;
    margin: 0 auto;
}

.section-heading {
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    padding: 64px 0;
}

h2 {
    font-weight: 900;
    margin: 15px 25%;
}

.box-table-gym {
    max-width: 100%;
    padding-bottom: 64px;
}

ul {
    list-style: none;
}

.box-table-gym tbody tr th {
    background-color: #dddddd;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    height: 40px;
    padding: 15px;
    text-align: center;
}

.box-table-gym tbody tr td {
    background: #ddd;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.box-table-gym tbody tr .table-name {
    background-color: rgb(237, 28, 39);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    text-align: center;
    width: 139px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
    line-height: 1.6;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 1200px;
}

//btn gia han
.btn-box-gym:hover {
    background-color: #cccccc;
}

.btn-box-gym-gh-1 {
    text-align: center;
    // display: none;
}

// .btn-box-gym-gh-1.active {
//     /* Your styles for the div when it's active (visible) */
//     /* For example: */
//     display: block;
// }

button.btn-box-gym {
    height: 40px;
    width: 80px;
    border-radius: 7px;
    line-height: 15px;
    font-size: 14px;
    position: relative;
}

.btn-cart-list {
    display: none;
    position: absolute;
    top: 40%;
    left: -20px;
    background-color: #fff;
}

// button.btn-box-gym:hover {
//     background-color: #e1f7f7;
// }

.container-to-display {
    left: 5%;
    top: 4%;
    right: 5%;
    height: 1076px;
}

.btn-box-gym:focus~.container-to-display {
    display: block;
}

//goi tap

.relative {
    position: relative;
}

.swiper-pointer-events {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.home-3 .swiper-wrapper {
    padding-top: 2.6041666667rem;
}

.swiper-wrapper {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    width: 100%;
    z-index: 1;
}

.swiper-backface-hidden .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    width: 100%;
}

.bm.bm-1.aos-init.aos-animate {}

.aos-animate {
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}

.bm.bm-1 .bn-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.img-6t {
    background-color: #b2d600;
}

.img-12t {
    background-color: #f36f2c;
}

//ná»n img
.bm.bm-1 .img {
    height: 23.4375rem;
    background-color: #009fc2;
}

// .bm.bm-1 .img {
//     height: 26.0416666667rem;
// }

.bm.bm-1 .img {
    overflow: visible;
}

.img {
    background-color: var(--color);
    // height: 80vw;
    overflow: hidden;
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    // height: 26.0416666667rem;
    overflow: visible;
}

img {
    width: auto;
    height: 375px;
}

.bm.bm-1 .img a {
    // display: block;
    height: 0;
    margin-left: auto;
    margin-right: unset;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    // top: -35%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

// .bm.bm-1 .img a {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     position: relative;
//     text-align: center;
//     width: 84.84375%;
// }


@media (min-width: 1280px) {
    .bm.bm-1 .info {
        margin-top: -7.03125rem;
    }
}

@media (min-width: 1024px) {
    .bm.bm-1 .info {
        width: 84.84375%;
    }
}

@media (min-width: 1280px) {
    .bm.bm-1 .info {
        // margin-left: auto;
        margin-right: unset;
    }
}

.bm.bm-1 .info {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4.3229166667rem;
    position: relative;
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: calc(100% - 1.5625rem);
    z-index: 5;
    margin-left: auto;
    margin-right: unset;
}

.bm.bm-1 .top {
    padding: 1.015625rem 1.8229166667rem;
}

.bm.bm-1 .top {
    height: 67px;
    align-items: center;
    background-color: #283228;
    display: flex;
    justify-content: space-between;
    padding: 0.5208333333rem 1.0416666667rem;
}

.bm.bm-1 .top .title {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 1.14583rem;
    font-weight: 700;
    line-height: 1.5625rem;
}

.content {
    padding: 2.0833333333rem 2.0833333333rem 1.5625rem;
}

.ctn {
    flex: 1 1 0%;
}

.bm.bm-1 .ctn>p {
    align-items: center;
    display: flex;
}

.bm.bm-1 .content {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 1.0416666667rem 0.78125rem;
    background: #fcfcfc;
}

//btn dky

.mt-35px {
    margin-top: 1.82292rem;
}

.button {
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #f36f2c;
    height: 44px;
    margin-top: 5px;
}

.btn {
    width: 100%;
}

.button .btn-4 {
    font-size: 1.25rem;
    line-height: 1.66667rem;
    padding: 0.5208333333rem 1.0416666667rem;
}


a.btn.btn-40 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

//price
.price {
    font-size: 1.14583rem;
    font-weight: 700;
    line-height: 1.5625rem;
    color: #fff;
}

//btn dky
.mt-35px:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(85 88 89/var(--tw-bg-opacity));
}

//header h2

.title-header-gh {
    display: flex;
    justify-content: space-between;
    margin: 49px 0;
}

.x-gh {
    display: block;
    margin: 15px 2%;
    font-size: 28px;
    cursor: pointer;
}

.btn-box-gym-gh-1.active {
    display: block;
}

// .button-wrapper {
//     position: relative;
// }

.btn-box-gym-gh {
    /* Other styles for btn-box-gym-gh */
    /* ... */
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // display: none;
}

// .centered {
//     display: block;
// }