<div class="" id="box1">
    <div class="container-fuild">
        <div class="containe">
            <div class="box-title section-heading">
                <h2>GIA HẠN GÓI TẬP GYM - THỂ HÌNH</h2>
            </div>
            <div class="box-table-gym">
                <table>
                    <tbody>
                        <tr>
                            <th>Gói Tập Gym</th>
                            <th>Tiện ích</th>
                            <th>Chọn Gói</th>
                        </tr>
                        <!-- Gói Zumba và Yoga -->
                        <!-- <tr *ngFor="let item of ListGoiTap">
                            <td class="table-name">{{item.tenGoi}}</td>
                            <td>
                                <ul>
                                    <li>
                                        - Giá gói :
                                        <b>{{ item.tongTien }}  VNĐ/Tháng</b> 
                                    </li>
                                    <li>
                                        -
                                        <b>{{ item.service }}</b>
                                      
                                    </li>
                                    <li>-{{ item.ca }}</li>
                                    <li>- Tập cùng <b>HLV nước ngoài</b></li>
                                    <li>- Ca tập linh hoạt - <b>1h/1ca</b></li>
                                    <li>- Các lớp chuyên sâu giãn cơ</li>
                                </ul>
                            </td>
                            <td class="">
                                <div class="btn-box-gym-gh ">
                                    <div class="btn-box-gym-gh-1 button-wrapper">
                                        <a href="javascipt:;">
                                            <button class="btn-box-gym"  (click)="createDSDK(item)">
                                                Gia Hạn
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>

                        </tr> -->
                        <!-- kết thúc  -->
                        <!-- goi ZUmba -->
                        <tr>
                            <td class="table-name">Gói Zumba and YoGa</td>
                            <td>
                                <ul>
                                    <li>
                                        - Giá gói : <b>450.000VND/tháng</b>
                                    </li>
                                    <li>
                                        - <b>Yoga - Group Fitness và tư vấn dinh dưỡng</b> không giới hạn
                                    </li>
                                    <li>- Mỗi ca 10 - 15 học viên </li>
                                    <li>- Ca tập linh hoạt - <b>1h/1ca</b></li>
                                    <li>- Các lớp chuyên sâu giãn cơ</li>
                                </ul>
                            </td>
                            <td class="">
                                <div class="a1 ">
                                    <div class="btn-box-gym-gh-1 button-wrapper">
                                        <a href="/app/about/gia-han/goi-zumba-yoga">

                                            <button class="btn-box-gym">
                                                Gia Hạn
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </td>

                        </tr> 
                        <!-- goi ZUmba -->


                        <!-- Gói Tự Tập  -->
                        <tr>
                            <td class="table-name">Gói Tự Tập</td>
                            <td>
                                <ul>
                                    <li>
                                        - Giá gói : <b>500.000VND/tháng</b>
                                    </li>
                                    <li>
                                        - Linh hoạt thời gian
                                    </li>
                                    <li>
                                        - <b>Thỏa sức tham gia</b> các bài tập bạn tự chọn
                                    </li>
                                    <li>- Rèn luyện <b>tinh thần tự giác</b></li>
                                    <li>- Được tư vấn dinh dưỡng</li>
                                </ul>
                            </td>
                            <td class="">
                                <div class="a1 ">
                                    <div class="btn-box-gym-gh-1 button-wrapper">
                                        <a href="/app/about/gia-han/goi-tu-tap">

                                            <button class="btn-box-gym">
                                                Gia Hạn
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </td>

                        </tr> 

                        <!-- kết thúc -->

                        <!-- Gói Đoàn Kết -->
                        <tr>
                            <td class="table-name">Gói Đoàn Kết</td>
                            <td>
                                <ul>
                                    <li>
                                        - Giá gói : <b>1.000.000 - 1.800.000 VND/tháng</b>
                                    </li>
                                    <li>
                                        - Tập vui, tập khỏe, tập chất lượng
                                    </li>
                                    <li>
                                        - Tuần tập <b>3 buổi tùy chỉnh</b>
                                    </li>
                                    <li>
                                        - Mỗi buổi 1 tiếng, lớp từ <b>6 - 8 học viên</b>
                                    </li>
                                    <li>
                                        - Tập theo lịch, có thể bù buổi khác nếu đội xuất
                                    </li>
                                    <li>- Được tư vấn dinh dưỡng</li>

                                </ul>
                            </td>
                            <td class="">
                                <div class="btn-box-gym-gh ">
                                    <div class="btn-box-gym-gh-1 button-wrapper">
                                        <a href="/app/about/gia-han/goi-doan-ket">
                                            <button class="btn-box-gym">
                                                Gia Hạn
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </td>
                        </tr>

                        <!-- kết thúc  -->

                        <!-- GÓi  PT 1 kèm 1-->
                        <tr>
                            <td class="table-name">PT 1 kèm 1</td>
                            <td>
                                <ul>
                                    <li>
                                        - Gói tập : <b>300.000 -> 500.000 -> 800.000VND/buổi</b>
                                    </li>
                                    <li>
                                        - Lịch tập theo nhu cầu của từng học viên
                                    </li>
                                    <li>
                                        - Bảo hiểm thân thể
                                    </li>
                                    <li>
                                        - Tủ đồ hàng ngày
                                    </li>
                                    <li>
                                        - <b>HLV cùng tập</b> thúc đẩy bạn chăm chỉ mỗi ngày, đạt hiệu quả cao
                                    </li>
                                    <li>
                                        - Được hưởng đầy đủ dịch vụ
                                    </li>
                                    <li>
                                        - Nước uống đóng chai miễn phí
                                    </li>
                                </ul>
                            </td>
                            <td class="">
                                <div class="btn-box-gym-gh ">
                                    <div class="btn-box-gym-gh-1 button-wrapper">
                                        <a href="/app/about/gia-han/goi-pt">
                                            <button class="btn-box-gym">
                                                Gia Hạn
                                            </button>

                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- kết thúc -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>