section.signup.page_customer_account.section {
    background: #F2F4F3;
    padding-top: 30px;
}

section .container.card {
    border: none;
}

.page_customer_account .card {
    background: transparent;
}

.card {
    border-radius: 0.25rem;
    padding: 15px;
}



.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.5rem;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-left-ac .block-account {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    border-right: 2px solid #f4f4f4;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: #fff;
}

.col-left-ac .block-account p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 28px;
    color: #212b25;
    position: relative;
}

.col-left-ac .block-account ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.col-left-ac .block-account ul .title-info.active {
    color: #333;
}

.col-left-ac .block-account ul .title-info {
    font-weight: 400;
    font-size: 14px;
    color: #212b25;
    margin-bottom: 22px;
    display: block;
}

//right 
.col-right-ac {
    border-right: 2px solid #f4f4f4;
    padding: 15px;
    // margin-bottom: 25px;
    border-radius: 10px;
    background: #fff;
}

.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-right-account {
    border-left: 1px solid #eee;
}

p {
    margin-top: 10px;
    margin-bottom: 1rem;
    font-weight: 350;
    font-size: 15px;
}

b,
strong {
    font-weight: bolder;
}


//table
.table-scroll {
    max-height: 350px;
    overflow-y: auto;
}

.title-head {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    color: #212b25;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #e0e0e0 !important;
    position: relative;
}

.no-padding {
    padding: 0px;
}

.table {
    font-size: 14px;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

thead.thead-default {
    background: #f2f2f2;
}

table#my-orders-table th,
table#my-orders-table td {
    padding: 5px 10px;
    border: 1px solid #C1C1C1;
    vertical-align: middle;
    overflow: visible;
    white-space: nowrap !important;
}

//h2
h2 {
    font-size: 27px;
    line-height: 30px;
    margin: 10px 0;
}

.title-header-manager {
    text-align: center;
    border-bottom: 1px solid #3e3636;
    margin: 0 20%;
}

//btn 
.about-giaha {
    margin: 15px 0;
    text-align: center;
}

.about-giaha-btn {
    height: 38px;
    width: 98px;
    border-radius: 8px;
}

.recen-orders.ng-tns-c81-1 {
    height: 350px;
}