<section class="signup page_customer_account section">
    <div class="container card p-3">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-3 col-left-ac">
                <div class="block-account">
                    <!-- <p>Xin Chào : {{ shownLoginName }}
                        <span></span>
                    </p> -->
                    <ul>
                        <li>
                            <a href="/app/about" class="title-info active" disabled="disabled">
                                <i class="far fa-id-card"> </i>
                                Thông tin tài khoản
                                <strong></strong>
                            </a>
                        </li>
                        <li>
                            <a href="/app/about/quan-ly-the-tap" class="title-info active" disabled="disabled">
                                <i class="fa-solid fa-bars-progress"></i>
                                Quản lý thẻ tập
                            </a>
                        </li>
                        <li>
                            <a href="/app/about/calendar" class="title-info active" disabled="disabled">
                                <i class="fa-solid fa-calendar-days"></i>
                                Calendar
                            </a>
                        </li>
                        <li>
                            <a href="/landingpage/login" class="title-info active" disabled="disabled">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Đăng Xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-9 col-right-ac">
                <div class="title-header-manager">
                    <h2>Thông Tin Tài Khoản</h2>
                </div>
                <div id="b" class=" col-right-account border-0 margin-top-20">
                    <div class="block-account">
                        <div class="block-content form-signup">
                            <p>
                                <b>
                                    Tên tài khoản :

                                </b>
                                <strong>{{ shownLoginName }}</strong>
                            </p>
                            <p>
                                <span>
                                    <b>Điện thoại : 
                                        <strong>{{ShownLoginPhone}}</strong>
                                    </b>
                                </span>
                            </p>
                            <p>
                                <span>
                                    <b>Gmail : </b>
                                    <strong>{{ShownLoginEmail}}</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <h5 class="title-head margin-top-0"></h5>
                <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                    <div class="my-account">
                        <div class="dashboard">
                            <div class="recen-orders">
                                <div class="table-responsive-block tab-all table-scroll" style="overflow-x:auto;">
                                    
                                    <table class="table table-cart table-order" id="my-orders-table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Tên đơn hàng</th>
                                                <th>Số Tháng</th>
                                                <th>Giá</th>
                                                <th>Ngày đặt</th>
                                                <th>Ngày hết hạn</th>

                                            </tr>
                                        </thead>
                                      
                                        
                                        <tbody *ngIf="DSDKList$ | async as DSDKList" >
                                            <tr *ngFor="let item of DSDKList;let i=index">
                                                <td>{{item.tenGoi}}</td>
                                                <td>{{item.soThang}}</td>
                                                <td>{{item.tongTien}}</td>
                                                <td>{{item.ngayDangKy | date:'dd/MM/yyyy HH:mm'}}</td>
                                                <td>{{item.ngayHetHan | date:'dd/MM/yyyy HH:mm'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-giaha">
                    <a href="/app/about/gia-han">
                        <button class="about-giaha-btn">Gia Hạn</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>