<div class="box-support">
    <div class="container pagewidth clearfix">
        <div class="clearfix" id="content">
            <div id="page-6627" class="type-page">
                <!-- page title -->
                <div class="page-content entry-content">
                    <div data-vc-full-width="true" data-vc-full-width-init="true"
                        class="vc_row wpb_row vc_row-fluid vc_custom_1534129625237 vc_row-has-fill"
                        style="position: relative;left: -164.6px;box-sizing: border-box;width: 1519px;padding-left: 164.6px;padding-right: 164.4px;">
                        <div class="wpb_column vc_column_container vc_col-sm-12 ">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <h2 style="font-size: 60px;color: #fecc09;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal"
                                        class="vc_custom_heading wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated"
                                        id="support">Support</h2>
                                    <div
                                        class="vc_separator  vc_separator_align_center vc_sep_width_10 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text  wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                        <span class="vc_sep_holder vc_sep_holder_l">
                                            <span class="vc_sep_line" style="border-color:#fecc09;"></span>
                                        </span>
                                        <span class="vc_sep_holder vc_sep_holder_r">
                                            <span class="vc_sep_line" style="border-color:#fecc09;"></span>
                                        </span>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_column-inner">
                                                        <div
                                                            class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_bounceInUp bounceInUp wpb_start_animation animated">
                                                            <div class="wpb_wrapper">
                                                                <p class="content-herade" style="text-align: center; color: white !important; font-size: 14px;line-height: 30px;
                                                                    margin-top: 10px; ">
                                                                    Để được tư vấn và tham quan phòng tập miễn phí, hãy
                                                                    để lại số điện thoại hoặc liên hệ với chúng tôi qua
                                                                    hotline : <a href="tel:0346217095"
                                                                        style="color: rgb(255, 255, 255);">0346217095</a>
                                                                    <br>
                                                                    Gym TM – Nơi bắt đầu hành trình biến đổi của bạn
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info" data-vc-full-width="true" data-vc-full-width-init="true"
                        class="vc_row wpb_row vc_row-fluid vc_custom_1534128953042 vc_row-has-fill"
                        style="position: relative; left: -164.6px; box-sizing: border-box; width: 1519px; padding-left: 164.6px; padding-right: 164.4px; display: flex;">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <h2 class="vc_custom_heading venee wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated"
                                        style="font-size: 36px;text-align: left;font-family: svn-veneerregular !important;font-weight:400;font-style:normal">
                                        Địa Chỉ
                                    </h2>
                                    <div
                                        class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_30 vc_sep_border_width_2 vc_sep_pos_align_left vc_separator_no_text  wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                        <span class="vc_sep_holder vc_sep_holder_l">
                                            <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                        </span>
                                        <span class="vc_sep_holder vc_sep_holder_r">
                                            <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                        </span>
                                    </div>


                                    <div
                                        class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_bounceInDown bounceInDown wpb_start_animation animated">
                                        <h2 class="vc_custom_heading venee wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated"
                                            style="font-size: 36px;text-align: left;font-family: svn-veneerregular !important;font-weight:400;font-style:normal">
                                            GYM TM
                                        </h2>
                                        <div class="wpb_wrapper">
                                            <p>
                                                <!-- <strong>GYM TM</strong> -->
                                                <!-- <br> -->
                                                48 xóm Tân Hậu - Hương Mạc - Từ Sơn - Bắc Ninh
                                            </p>
                                        </div>
                                        <h2 class="vc_custom_heading venee wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated"
                                            style="font-size: 30px;text-align: left;font-family:Montserrat;font-weight:400;font-style:normal">
                                            THÔNG TIN LIÊN LẠC
                                        </h2>
                                        <div
                                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_70 vc_sep_border_width_2 vc_sep_pos_align_left vc_separator_no_text  wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                            <span class="vc_sep_holder vc_sep_holder_l">
                                                <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                            </span>
                                            <span class="vc_sep_holder vc_sep_holder_r">
                                                <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                            </span>
                                        </div>
                                        <div
                                            class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    <strong>HOTLINE : </strong>
                                                    <a href="tel:0346217095">0346217095</a>
                                                    <br>
                                                    <strong>EMAIL : </strong>
                                                    <a href="">phonggymtm@gmail.com</a>
                                                </p>
                                            </div>
                                        </div>
                                        <h2 style="text-align: left;font-family:Montserrat;font-weight:400;font-style:normal; font-size: 30px;"
                                            class="vc_custom_heading venee wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                            FOLLOW US
                                        </h2>
                                        <div
                                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_70 vc_sep_border_width_2 vc_sep_pos_align_left vc_separator_no_text  wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                            <span class="vc_sep_holder vc_sep_holder_l">
                                                <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                            </span>
                                            <span class="vc_sep_holder vc_sep_holder_r">
                                                <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                            </span>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid social">
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div
                                                            class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_zoomIn zoomIn wpb_start_animation animated">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <a href="https://www.facebook.com/pages/GYM-Tuy%E1%BA%BFt-Mai/1731153260487067"
                                                                    target="_self"
                                                                    class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <i
                                                                        class="vc_single_image-img attachment-full fa-brands fa-facebook"></i>
                                                                </a>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div
                                                            class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_zoomIn zoomIn wpb_start_animation animated">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <a href="https://www.facebook.com/pages/GYM-Tuy%E1%BA%BFt-Mai/1731153260487067"
                                                                    target="_self"
                                                                    class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <i style="width: 60px;"
                                                                        class="vc_single_image-img attachment-full fa-brands fa-instagram ">
                                                                    </i>
                                                                </a>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-3">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div
                                                            class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_zoomIn zoomIn wpb_start_animation animated">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <a href="https://www.facebook.com/pages/GYM-Tuy%E1%BA%BFt-Mai/1731153260487067"
                                                                    target="_self"
                                                                    class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <i
                                                                        class="vc_single_image-img attachment-full fa-brands fa-youtube">
                                                                    </i>
                                                                </a>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="wpb_column vc_column_container vc_col-sm-8">
                    
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <h2 class="vc_custom_heading venee wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated"
                                        style="font-size: 36px;text-align: left;font-family: svn-veneerregular !important;font-weight:400;font-style:normal">
                                        Nhận Tư Vấn Miễn Phí
                                    </h2>
                                    
                                    <div
                                        class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_70 vc_sep_border_width_2 vc_sep_pos_align_left vc_separator_no_text  wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_animate_when_almost_visible wpb_bounceInLeft bounceInLeft wpb_start_animation animated">
                                        <span class="vc_sep_holder vc_sep_holder_l">
                                            <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                        </span>
                                        <span class="vc_sep_holder vc_sep_holder_r">
                                            <div class="vc_sep_line" style="border-color:#fecc09;"></div>
                                        </span>
                                    </div>
                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                        <div class="wpb_wrapper">
                                            Liên hệ với chúng tôi để nhận thông tin về các gói tập và dịch vụ
                                        </div>
                                    </div>
                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                        <div class="wpb_wrapper">
                                            <script charset="utf-8" type="text/javascript"
                                                src="//js.hsforms.net/forms/embed/v2.js">
                                                </script>
                                            <script data-hubspot-rendered="true"></script>
                                            <div id="hbspt-form-c3593711-46c2-4fff-b45a-7a75ec2b5146" class="hbspt-form"
                                                data-hs-forms-root="true">

                                            </div>
                                            <div
                                                class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field">
                                                <label id="label-firstname-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                    placeholder="Enter your Tên của bạn"
                                                    for="firstname-834691fc-0194-4dcc-9785-f0a740bb652b">
                                                    <span>Tên của bạn</span>
                                                    <span class="hs-form-required">*</span>
                                                </label>
                                                <legend class="hs-field-desc" style="display: block;">
                                                </legend>
                                                <div class="input">
                                                    <input type="text"
                                                        id="firstname-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                        name="firstname" class="hs-input" autocomplete="given-name"
                                                        [(ngModel)]= 'newSupport.name' required
                                                        >
                                                </div>
                                            </div>
                                            <div class="hs_phone hs-phone hs-fieldtype-phonenumber field hs-form-field">
                                                <label id="label-phone-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                    placeholder="Enter your Số điện thoại"
                                                    for="phone-834691fc-0194-4dcc-9785-f0a740bb652b">
                                                    <span>Số điện thoại</span>
                                                    <span class="hs-form-required">*</span>
                                                </label>
                                                <legend class="hs-field-desc" style="display: block;">
                                                </legend>
                                                <div class="input">
                                                    <input type="text" id="phone-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                        name="phone" class="hs-input" autocomplete="tel" type="tel"
                                                        inputmode="tel" [(ngModel)]='newSupport.phone' required>
                                                </div>
                                            </div>
                                            <div class="hs_email hs-email hs-fieldtype-text field hs-form-field">
                                                <label id="label-email-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                    placeholder="Enter your Số điện thoại"
                                                    for="email-834691fc-0194-4dcc-9785-f0a740bb652b">
                                                    <span>Email</span>
                                                    <span class="hs-form-required">*</span>
                                                </label>
                                                <legend class="hs-field-desc" style="display: block;">
                                                </legend>
                                                <div class="input">
                                                    <input type="text" id="email-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                        name="email" class="hs-input" autocomplete="tel" type="tel"
                                                        inputmode="tel" [(ngModel)]='newSupport.email' required>

                                                </div>
                                            </div>
                                            <div class="hs_a_i_m hs-a_i_m hs-fieldtype-select field hs-form-field">
                                                <label id="label-hs_a_i_m-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                    placeholder="Enter your Số điện thoại"
                                                    for="hs_a_i_m-834691fc-0194-4dcc-9785-f0a740bb652b">
                                                    <span>Cơ sở bạn quan tâm</span>
                                                    <span class="hs-form-required">*</span>
                                                </label>
                                                <legend class="hs-field-desc" style="display: block;">
                                                </legend>
                                                <div class="input">
                                                    <select name="a_i_m" id="a_i_m-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                        required class="hs-input is-placeholder" [(ngModel)]='newSupport.address' required>
                                                        <option hidden disabled selected value="">
                                                            Vui lòng chọn</option>
                                                        <option value="48 xóm Tân Hậu - Hương Mạc - Từ Sơn - Bắc Ninh">
                                                            01. 48 xóm Tân Hậu - Hương Mạc - Từ Sơn - Bắc Ninh</option>
                                                            <option value="Tầng 2 Chợ Giàu Phú Điền - Từ Sơn, Bac Ninh, Bắc Ninh">
                                                                02. Tầng 2 Chợ Giàu Phú Điền - Từ Sơn, Bắc Ninh
                                                            </option>
                                                        <option value="Đang update">Đang update</option>
                                                        <option value="Đang update">Đang update</option>
                                                        <option value="Đang update">Đang update</option>
                                                        <option value="Đang update">Đang update</option>
                                                        <ul class="no-list hs-error-msgs inputs-list">
                                                            <li>
                                                                <label for=""
                                                                    class="hs-error-msg hs-main-font-element">Vui lòng
                                                                    chọn một tùy chọn từ menu thả xuống.</label>
                                                            </li>
                                                        </ul>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="hs_ghi_ch_ hs-ghi_ch_ hs-fieldtype-text field hs-form-fieldd">
                                                <label id="label-ghi_ch_-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                    placeholder="Enter your Hãy cho chúng tôi biết về nhu cầu của bạn"
                                                    for="ghi_ch_-834691fc-0194-4dcc-9785-f0a740bb652b">
                                                    <span>Hãy cho chúng tôi biết về nhu cầu của bạn</span>
                                                    <span class="hs-form-required">*</span>
                                                </label>
                                                <legend class="hs-field-desc" style="display: block;">
                                                </legend>
                                                <div class="input">
                                                    <input type="text" id="ghi_ch_-834691fc-0194-4dcc-9785-f0a740bb652b"
                                                        name="ghi_ch_" class="hs-input" autocomplete="text" type="text"
                                                        inputmode="tel" [(ngModel)]='newSupport.comment' required>

                                                </div>
                                            </div>
                                            <div *ngIf="isFormSubmitted">
                                                <div *ngIf="isRegistrationSuccess" class="alert-alert-success">
                                                    <i class="fa-solid fa-check"></i>
                                                  Đăng ký thành công!
                                                </div>
                                                <div *ngIf="!isRegistrationSuccess" class="alert-alert-danger">
                                                    <i class="fa-regular fa-rectangle-xmark"></i>     
                                                    Đăng ký thất bại! Vui lòng điền đầy đủ thông tin.
                                                </div>
                                            </div>
                                            <div class="hs_submit hs-submit">
                                                <div class="hs-field-desc">
                                                    <div class="actions">
                                                        <input type="submit" class="hs-button primary large"
                                                            value="Add" (click)="createSupport()">

                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

