.box-register {
    text-align: center !important;
    background-image: url('https://i.pinimg.com/originals/d4/0e/56/d40e56100cb18c2b3e03cdd3d9ab06d3.jpg');
    height: 740px;
    // margin-top: 70px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-group {
    position: relative;
    z-index: 2;
}

.row{
    position: relative;
    z-index: 2;
}

.heading-section {
    position: relative;
    z-index: 2;
}

// css register
div#login {
    max-width: 50%;
    margin: 0 25%;
}

.form-register {
    max-width: 40%;
    margin: 0 30%;
    height: 480px;
}

//h2

.text-center {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.heading-section {
    color: rgba(255, 200, 200, 0.7);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 70px;
}

.heading-section {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 50%;
}

.justify-content-center {
    display: flex;
    justify-content: center!important;
    text-align: center;
    align-items: center;
}

.box-register::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Điều chỉnh mức độ mờ ở đây, giá trị từ 0 (không mờ) đến 1 (hoàn toàn mờ) */
}