<div class="" id="box1">
    <div class="container-fuild">
        <div class="containe">
            <div class="box-title section-heading">
                <h2>CÁC GÓI TẬP GYM - THỂ HÌNH</h2>
            </div>
            <div class="box-table-gym">
                <table>
                    <tbody>
                        <tr>
                            <th>Gói Tập Gym</th>
                            <th>Tiện ích</th>
                        </tr>
                        <tr>
                            <td class="table-name">SILVER</td>
                            <td>
                                <ul>
                                    <li>
                                        - Tặng gói
                                        <b>tập thử</b> và <b>tư vấn dinh dưỡng</b>
                                        miễn phí cùng huấn luyện viên trị giá
                                        <b>2.000.000 VND</b>
                                    </li>
                                    <li>
                                        - Tặng
                                        <b>Yoga - Group Fitness</b> và <b>tư vấn dinh dưỡng</b>
                                        không giới hạn
                                    </li>
                                    <li>- Bảo hiểm thân thể</li>
                                    <li>- Tủ đồ hàng ngày</li>
                                    <li>- Phòng tắm nóng lạnh - xông hơi</li>
                                </ul>
                            </td>

                        </tr>
                        <tr>
                            <td class="table-name">SAPHIRE</td>
                            <td>
                                <ul>
                                    <li>
                                        - Bao gồm tất cả các tiện ích của gói SILVER
                                    </li>
                                    <li>
                                        - Khăn tập & khăn tắm
                                    </li>
                                    <li>
                                        - Nước uống đóng chai
                                    </li>
                                    <li>- <b>Bể bơi bốn mùa</b> (áp dụng với các cơ sở có bể bơi)</li>
                                    <li>- Bể sục massage</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-name">RUBY</td>
                            <td>
                                <ul>
                                    <li>
                                        - Bao gồm tất cả các tiện ích của gói SAPPHIRE
                                    </li>
                                    <li>
                                        - Tặng suất <b>tập kèm miễn phí</b> (01 người/Cố định/Thẻ)
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-name">PT 1 kèm 1</td>
                            <td>
                                <ul>
                                    <li>
                                        -- Tặng gói <b>tập thử</b> và <b>tư vấn dinh dưỡng miễn</b> phí cùng HLV cá nhân
                                        trị giá 2.000.000 VND
                                    </li>
                                    <li>
                                        - Lịch tập theo nhu cầu của từng học viên
                                    </li>
                                    <li>
                                        - Bảo hiểm thân thể
                                    </li>
                                    <li>
                                        - Tủ đồ hàng ngày
                                    </li>
                                    <li>
                                        - Phòng tắm nóng lạnh - xông hơi
                                    </li>
                                    <li>
                                        - Khăn tập & khăn tắm
                                    </li>
                                    <li>
                                        - Nước uống đóng chai miễn phí
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>