<div class="" id="box1">
    <div class="container-fuild">
        <div class="containe">
            <div class="box-title section-heading">
                <h2>CÁC GÓI TẬP GYM - THỂ HÌNH</h2>
            </div>
            <div class="box-table-gym">
                <table>
                    <tbody>
                        <tr>
                            <th>Gói Tập Gym</th>
                            <th>Tiện ích</th>
                        </tr>
                        <tr *ngFor="let goitap of ListGoiTap">
                            <td class="table-name">{{goitap.tenGoiTap}}</td>
                            <td class="table-contetn">
                                <ul>
                                    <li>
                                        - Giá gói :
                                        <b>{{goitap.mota}}</b>
                                    </li>
                                    <li>
                                        - <b>{{goitap.thongtingoi1}}</b>
                                    </li>
                                    <li>- {{goitap.thongtingoi2}}</li>
                                    <li>- {{goitap.thongtingoi3}}</li>
                                    <li>- {{goitap.thongtingoi4}}</li>
                                    <li>- {{goitap.thongtingoi5}}</li>
                                </ul>
                            </td>

                        </tr>
                        <!-- <tr>
                            <td class="table-name">Gói Tự Tập</td>
                            <td>
                                <ul>
                                    <li>
                                        - Giá gói : <b>500.000VND/tháng</b>
                                    </li>
                                    <li>
                                        - Linh hoạt thời gian
                                    </li>
                                    <li>
                                        - <b>Thỏa sức tham gia</b> các bài tập bạn tự chọn
                                    </li>
                                    <li>- Rèn luyện <b>tinh thần tự giác</b></li>
                                    <li>- Được tư vấn dinh dưỡng</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-name">Gói Đoàn Kết</td>
                            <td>
                                <ul>
                                    <li>
                                        - Giá gói : <b>1.000.000 - 1.800.000 VND/tháng</b>
                                    </li>
                                    <li>
                                        - Tập vui, tập khỏe, tập chất lượng
                                    </li>
                                    <li>
                                        - Tuần tập <b>3 buổi tùy chỉnh</b>
                                    </li>
                                    <li>
                                        - Mỗi buổi 1 tiếng, lớp từ <b>6 - 8 học viên</b>
                                    </li>
                                    <li>
                                        - Tập theo lịch, có thể bù buổi khác nếu đội xuất
                                    </li>
                                    <li>- Được tư vấn dinh dưỡng</li>

                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-name">PT 1 kèm 1</td>
                            <td>
                                <ul>
                                    <li>
                                        - Gói tập : <b>300.000 -> 500.000 -> 800.000VND/buổi</b>
                                    </li>
                                    <li>
                                        - Lịch tập theo nhu cầu của từng học viên
                                    </li>
                                    <li>
                                        - Bảo hiểm thân thể
                                    </li>
                                    <li>
                                        - Tủ đồ hàng ngày
                                    </li>
                                    <li>
                                        - <b>HLV cùng tập</b> thúc đẩy bạn chăm chỉ mỗi ngày, đạt hiệu quả cao
                                    </li>
                                    <li>
                                        - Được hưởng đầy đủ dịch vụ
                                    </li>
                                    <li>
                                        - Nước uống đóng chai miễn phí
                                    </li>
                                </ul>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>