* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
}

/* .bg-secondary {
    background-color: #6c757d !important;
} */

.navbar-expand-lg {
    height: 70px;
}

.nav-link a {
    padding: 0 24px;
    transition: box-shadow 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 5px;
    margin: 0 70px;
    line-height: 1.6;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

.navbar-brand {
    margin: 0 20px;
    // background: url('./logo-menu-img/360090502_3283215168491705_7801321260646373346_n.jpg') top center / cover no-repeat;
    // height: 100%;
    // width: 8%;
}

.bg-secondary {
    background-color: #1b1d1f !important;
}

button.button-navbar-login {
    padding: 3px 25px;
    margin: 0 40px;
    border-radius: 7px;
    font-size: 17px;
    background-color: RGBA(100, 149, 237, 1);
}

.login.navbar-login {
    margin: 0 70px;
    padding: 8px 6px;
    color: #fff;
}

i.fa-regular.fa-user {
    margin: 0 10px;
}

img {
    width: 130px;
    margin-left: 20px;
    -webkit-filter: brightness(0.9);
}

.login {
    font-weight: 600;
}

.nav-link:hover {
    color: rgb(139, 139, 139) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}