<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-secondary fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/360090502_3283215168491705_7801321260646373346_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dbeb18&_nc_ohc=N1XuZ1m-FNcAX-yaTk8&_nc_ht=scontent.fhan2-3.fna&oh=00_AfDWcz1hDocutN5MkmDjXvAksF9PuGWDY6UXWceZAm7Z2g&oe=64EC511C"
                alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/landingpage" >TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;" (click)="navigateIntroduce($event)">GIỚI THIỆU
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="/landingpage/coach" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        HLV
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/landingpage/fitness">BÀI TẬP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/landingpage/support">HỖ TRỢ</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <a class="nav-link" href="/app/about">
                        <i class="fa-solid fa-user-ninja"></i>
                        CÁ NHÂN {{ tenTaiKhoan }}
                    </a>
                </li>
                <li class="nav-item " *ngIf="!isLoggedin">
                    <a href="/landingpage/login" class="login navbar-login nav-link" (click)="navigateToLogin">
                        <i class="fa-regular fa-user"></i>
                        ĐĂNG NHẬP
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>