<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-secondary fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/img-landingpage/fitness/logo/360090502_3283215168491705_7801321260646373346_n.jpg"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/landingpage"
            >TRANG CHỦ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="javascript:;"
            (click)="navigateIntroduce($event)"
            >GIỚI THIỆU
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="/landingpage/coach"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            HLV
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/landingpage/fitness">BÀI TẬP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/landingpage/support">HỖ TRỢ</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedin">
          <a class="nav-link" href="/app/about">
            <i class="fa-solid fa-user-ninja"></i>
            CÁ NHÂN {{ tenTaiKhoan }}
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedin">
          <a
            href="/landingpage/login"
            class="login navbar-login nav-link"
            (click)="(navigateToLogin)"
          >
            <i class="fa-regular fa-user"></i>
            ĐĂNG NHẬP
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
