<div class="box2 gym-address">
    <div class="container-fluid">
        <div class="container">
            <div class="box-title-header">
                <h3>ĐỊA CHỈ PHÒNG GYM - THỂ HÌNH</h3>
            </div>
            <div class="row">
                <div class="gym-address-list1 left">
                    <div class="gym-address1 color-address">
                        <p class="gym-address-name">Từ Sơn</p>
                        <p>1.48 Xóm Tân Hậu - Hương Mạc - Từ Sơn - Bắc Ninh </p>
                    </div>
                    <div class="gym-address2 color-address">
                        <p class="gym-address-name">Từ Sơn</p>
                        <p>2.Tầng 2 chợ giàu - Từ Sơn - Bắc Ninh</p>

                    </div>
                    <div class="gym-address3 color-address">
                        <p class="gym-address-name">Updating</p>
                        <p>3.Đang cập nhật - chúng tôi sẽ trở lại sớm </p>

                    </div>
                </div>
                <div class="gym-address-list4 right">
                    <div class="gym-address5 color-address">
                        <p class="gym-address-name">Updating</p>
                        <p>4.Đang cập nhật - chúng tôi sẽ trở lại sớm </p>

                    </div>
                    <div class="gym-address5 color-address">
                        <p class="gym-address-name">Updating</p>
                        <p>5.Đang cập nhật - chúng tôi sẽ trở lại sớm </p>

                    </div>
                    <div class="gym-address6 color-address">
                        <p class="gym-address-name">Updating</p>
                        <p>6.Đang cập nhật - chúng tôi sẽ trở lại sớm </p>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="btn-button" id="BUTTON-DANG-KY-GYM">
                <a>
                    <button (click)="navigateToRegistration()" type="button">ĐĂNG KÝ TẬP
                        THỬ</button>
                </a>
            </div>
        </div>
    </div>
</div>