<div class="gym-fitness">
  <div class="container">
    <div class="row">
      <div class="col-right col-md-9">
        <div class="td-sanpham">
          <a href="/landingpage/fitness">
            <h3>Fitness</h3>
          </a>
        </div>
        <div class="box-left news service" *ngFor="let fitness of ListFitness">
          <div class="box-ds">
            <div class="row">
              <div
                class="col-sm-4"
                [routerLink]="['/landingpage/fitness/', fitness.id]"
              >
                <figure>
                  <a href="javacrip:;">
                    <img
                      [src]="
                        '../../assets/img-landingpage/fitness/fitness-img/' +
                        fitness.imgFitness
                      "
                      alt="Cách hít thở hợp lý cho người mới tập gym"
                    />
                  </a>
                </figure>
              </div>
              <div class="col-sm-8">
                <h3 class="title-tt">
                  <a href="javascript:;">
                    {{ fitness.nameFitness }}
                  </a>
                </h3>
                <time>{{ fitness.time }}</time>
                <div class="sum-pro">
                  <p>{{ fitness.contentFitness }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="box-ds">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="/landingpage/fitness/bai-tap-co-ban-cho-nu-moi-bat-dau">
                                        <img src="https://images.elipsport.vn/anh-seo-tin-tuc/2021/2/22/cac-bai-tap-gym-cho-nu-2.jpg"
                                            alt="Các Bài Tập Gym Cơ Bản Cho Nữ Mới Bắt Đầu">

                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="title-tt">
                                    <a href="/landingpage/fitness/bai-tap-co-ban-cho-nu-moi-bat-dau">
                                        Các Bài Tập Gym Cơ Bản Cho Nữ Mới Bắt Đầu
                                    </a>
                                </h3>
                                <time>12-6-2020</time>
                                <div class="sum-pro">
                                    <p> Tập gym giúp giảm béo hiệu quả, mang lại vóc dáng thon gọn cho người tập, đồng
                                        thời cũng giúp tăng cường sức khỏe, hạn chế chống đột quỵ. Nhưng đối với người
                                        mới bắt đầu, đặc biệt là nữ giới nhiều bạn sẽ không biết nên bắt đầu luyện tập
                                        từ đâu, luyện tập thế nào cho hiệu quả. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-ds">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="/landingpage/fitness/gym-bien-phap-ho-tro-giam-can">
                                        <img src="https://mdfitness.vn/4725841D002D6361/64EC27228CE03AB6472588CB000C27C3/$File/tap-gym-bien-phap-giam-can-an-toan-hieu-qua-tiet-kiem-sm.jpg"
                                            alt="Gym - Biện Pháp Hỗ Trợ Giảm Cân An Toàn, Hiệu Quả">

                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="title-tt">
                                    <a href="/landingpage/fitness/gym-bien-phap-ho-tro-giam-can">
                                        Gym - Biện Pháp Hỗ Trợ Giảm Cân An Toàn, Hiệu Quả
                                    </a>
                                </h3>
                                <time>8-2-2021</time>
                                <div class="sum-pro">
                                    <p> Gym đang được xem là môn thể dục thể thao giúp loại bỏ mỡ thừa hiệu quả, tăng
                                        cường sức khỏe. Tuy nhiên với nhiều người vẫn còn đắn đo liệu tập gym có giảm
                                        cân hiệu quả không? Qua bài viết dưới đây,
                                        phòng tập gym GYM TM sẽ giúp các bạn giải đáp mọi thắc mắc trên và giúp đưa
                                        ra cho các bạn một số lời khuyên khi tập Gym để đạt được mục đích nhanh hơn,
                                        hiệu quả hơn.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-ds">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="/landingpage/fitness/bi-kip-tap-gym-dung-cach">
                                        <img src="https://mdfitness.vn/4725841D002D6361/ADB67415134D1ECE472588D70009B914/$File/bi-quyet-tap-gym-dung-canh-ban-nen-biet-sm.jpg"
                                            alt="Bí Quyết Tập Gym Đúng Cách Bạn Nên Biết">

                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="title-tt">
                                    <a href="/landingpage/fitness/bi-kip-tap-gym-dung-cach">
                                        Bí Quyết Tập Gym Đúng Cách Bạn Nên Biết
                                    </a>
                                </h3>
                                <time>18-8-2021</time>
                                <div class="sum-pro">
                                    <p> Gym là viết tắt GYMNASIUM, từ này có nghĩa là hoạt động thể chất, vận động rèn
                                        luyện cơ thể. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-ds">
                        <div class="row">
                            <div class="col-sm-4">
                                <figure>
                                    <a href="/landingpage/fitness/vi-sao-nen-tap-gym">
                                        <img src="https://mdfitness.vn/4725841D002D6361/4410D2E5576AA370472588D0000B63EC/$File/ly-do-nen-tap-gym-hang-ngay-sm.jpg"
                                            alt="Vì Sao Nên Tập Gym Hàng Ngày?">

                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="title-tt">
                                    <a href="/landingpage/fitness/vi-sao-nen-tap-gym">
                                        Vì Sao Nên Tập Gym Hàng Ngày?
                                    </a>
                                </h3>
                                <time>22-2-2022</time>
                                <div class="sum-pro">
                                    <p> Gym là một loại thể dục thể thao giúp tăng cường sức khỏe cho người tập, giảm mỡ
                                        hiệu quả, đẹm lại thân hình săn chắc, vóc dáng quyến rũ. </p>
                                </div>
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      <div class="col-sm-3 hidden-xs hidden-sm">
        <div class="box-sidebar">
          <h3 class="sidebar-h3">Nhu Cầu Tập Luyện</h3>
          <div class="box-canhan" *ngFor="let nhucau of ListNhuCau">
            <ul class="dm-tt">
              <li [routerLink]="['/landingpage/fitness/nhucau/', nhucau.id]">
                <a href="javascript:;">{{ nhucau.nameNhuCau }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="box-sidebar">
          <h3 class="sidebar-h3">Tin Tức Mới</h3>
          <div class="box-canhan" *ngFor="let fitnes of ListFitness">
            <div
              class="box-new"
              *ngIf="fitnes.id === 1 || fitnes.id === 2 || fitnes.id === 4"
              (click)="naviateToFitness(fitnes.id)"
            >
              <h2 class="content-box-new">
                <a href="javascript:;">{{ fitnes.nameFitness }}</a>
              </h2>
              <figure>
                <a href="javascript:;">
                  <img
                    [src]="
                      '../../assets/img-landingpage/fitness/fitness-img/' +
                      fitnes.imgFitness
                    "
                    alt="Cách hít thở hợp lý cho người mới tập gym"
                    class="box-new-img"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
