<div class="fitness-newss">
  <div class="container">
    <div class="row">
      <div class="col-md-9" *ngFor="let fitneslist of ListFitness1">
        <div
          class="container-news"
          itemscope
          itemtype="http://schema.org/ScholarlyArticle"
        >
          <div class="td-sanpham">
            <a href="/landingpage/fitness">
              <h4>Finness</h4>
            </a>
          </div>

          <h1 class="name-title">
            <span itemprop="name">{{ fitneslist.tieuDe }}</span>
          </h1>
        </div>
        <div class="total-news">
          <p>{{ fitneslist.thongTin1 }}</p>
        </div>
        <content itemprop="description">
          <p dir="1tr">{{ fitneslist.thongTin2 }}</p>
          <h2 dir="1tr">{{ fitneslist.tieuDe1 }}</h2>
          <p dir="1tr">{{ fitneslist.thongTin3 }}</p>
          <p dir="1tr"></p>
          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../assets/img-landingpage/fitness/fitnessList/img1/' +
                fitneslist.img1
              "
              alt="1"
            />
          </p>
          <p dir="1tr"></p>
          <h2 dir="1tr">{{ fitneslist.tieuDe2 }}</h2>
          <ul>
            <li aria-level="1">
              <p dir="1tr" role="presentation">
                {{ fitneslist.thongTin4 }}
              </p>
            </li>
            <li
              aria-level="1"
              *ngFor="let data5 of fitneslist.thongTin5.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data5 }}
              </p>
            </li>
          </ul>
          <!-- <p dir="1tr">Điều này ảnh hưởng trực tiếp đến việc luyện tập của bạn vì vậy các bạn nên lưu ý.
                    </p> -->
          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../assets/img-landingpage/fitness/fitnessList/img2/' +
                fitneslist.img2
              "
              alt="2"
            />
          </p>
          <h2 dir="1tr">{{ fitneslist.tieuDe3 }}</h2>
          <p dir="1tr">{{ fitneslist.thongTin6 }}</p>
          <ul>
            <li
              aria-level="1"
              *ngFor="let item of splitChiTietIntoArray(fitneslist.thongTin7)"
            >
              <p dir="1tr" role="presentation">
                {{ item }}
              </p>
            </li>
          </ul>
          <p *ngFor="let data8 of fitneslist.thongTin8.split('/')">
            {{ data8 }}
          </p>
          <p dir="1tr" class="img-member">
            <img
              [src]="
                '../../../assets/img-landingpage/fitness/fitnessList/img3/' +
                fitneslist.img3
              "
              alt="3"
            />
          </p>
          <h2 dir="1tr">{{ fitneslist.tieuDe4 }}</h2>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data5 of fitneslist.thongTin5.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data5 }}
              </p>
            </li>
          </ul>
          <p>{{ fitneslist.thongTin9 }}</p>
          <p>{{ fitneslist.thongTin10 }}</p>
          <p>{{ fitneslist.thongTin11 }}</p>
          <h2 dir="1tr">{{ fitneslist.tieuDe6 }}</h2>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data12 of fitneslist.thongTin12.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data12 }}
              </p>
            </li>
          </ul>
          <h2 dir="1tr">{{ fitneslist.tieuDe7 }}</h2>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data13 of fitneslist.thongTin13.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data13 }}
              </p>
            </li>
          </ul>
          <h2 dir="1tr">{{ fitneslist.tieuDe8 }}</h2>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data14 of fitneslist.thongTin14.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data14 }}
              </p>
            </li>
            <img
              [src]="
                '../../../assets/img-landingpage/fitness/fitnessList/img4/' +
                fitneslist.img4
              "
            />
          </ul>
          <h2 dir="1tr">{{ fitneslist.tieuDe9 }}</h2>
          <p dir="1tr">{{ fitneslist.tieuDe10 }}</p>
          <ul>
            <li
              aria-level="1"
              *ngFor="let data15 of fitneslist.thongTin15.split('/')"
            >
              <p dir="1tr" role="presentation">
                {{ data15 }}
              </p>
            </li>
            <p dir="1tr" class="img-member">
              <img
                [src]="
                  '../../../assets/img-landingpage/fitness/fitnessList/img5/' +
                  fitneslist.img5
                "
              />
            </p>
          </ul>
          <p>{{ fitneslist.thongTin16 }}</p>
        </content>
      </div>
      <div class="col-sm-3 hidden-xs hidden-sm">
        <div class="box-sidebar">
          <h3 class="sidebar-h3">Nhu Cầu Tập Luyện</h3>
          <div class="box-canhan" *ngFor="let nhucau of ListNhuCau">
            <ul class="dm-tt">
              <li [routerLink]="['/landingpage/fitness/nhucau/', nhucau.id]">
                <a href="javascript:;">{{ nhucau.nameNhuCau }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="box-sidebar">
          <h3 class="sidebar-h3">Tin Tức Mới</h3>
          <div class="box-canhan" *ngFor="let fitnes of ListFitness">
            <div
              class="box-new"
              *ngIf="fitnes.id === 1 || fitnes.id === 2 || fitnes.id === 4"
              (click)="navigateToFitness(fitnes.id)"
            >
              <h2 class="content-box-new">
                <a href="javascript:;">{{ fitnes.nameFitness }}</a>
              </h2>
              <figure>
                <a href="javascript:;">
                  <img
                    [src]="
                      '../../assets/img-landingpage/fitness/fitness-img/' +
                      fitnes.imgFitness
                    "
                    alt="Cách hít thở hợp lý cho người mới tập gym"
                  />
                </a>
              </figure>
            </div>
          </div>
          <!-- <div class="box-new">
                            <h2 class="content-box-new">
                                <a href="/landingpage/fitness/bai-tap-co-ban-cho-nu-moi-bat-dau">
                                    Các Bài Tập Gym Cơ Bản Cho Nữ Mới Bắt Đầu </a>
                            </h2>
                            <figure>
                                <a href="/landingpage/fitness/bai-tap-co-ban-cho-nu-moi-bat-dau">
                                    <img src="https://images.elipsport.vn/anh-seo-tin-tuc/2021/2/22/cac-bai-tap-gym-cho-nu-2.jpg"
                                        alt=" Các Bài Tập Gym Cơ Bản Cho Nữ Mới Bắt Đầu " class="box-new-img">

                                </a>
                            </figure>
                        </div> -->
          <!-- <div class="box-new">
                        <h2 class="content-box-new">
                                <a href="/landingpage/fitness/vi-sao-nen-tap-gym">Vì Sao Nên Tập
                                    Gym Hằng Ngày</a>
                            </h2>
                            <figure>
                                <a href="/landingpage/fitness/vi-sao-nen-tap-gym">
                                    <img src="https://mdfitness.vn/4725841D002D6361/4410D2E5576AA370472588D0000B63EC/$File/ly-do-nen-tap-gym-hang-ngay-sm.jpg"
                                        alt="Vì Sao Nên Tập Gym Hằng Ngày" class="box-new-img">
                                </a>
                            </figure>
                        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-line"></div>
