.navbar-light .navbar-nav .nav-link {
    color: rgb(244 246 249);
    font-size: 17px;
}

.navbar-nav .nav-link {
    color: rgb(244 246 249);
    font-size: 17px;
}

.nav-link {
    color: rgb(244 246 249);
    font-size: 17px;
}