<div class='demo-app'>

    <div class='demo-app-sidebar'>
        <div class='demo-app-sidebar-section'>
            <h2>Hướng Dẫn Sử Dụng</h2>
            <ul>
                <li>Chọn ngày và bạn sẽ được nhắc tạo một sự kiện mới</li>
                <li>Kéo, thả và thay đổi kích thước sự kiện</li>
                <li>Nhấp vào một sự kiện để xóa nó</li>
            </ul>
        </div>
        <!-- <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarVisible' (change)='handleCalendarToggle()' />
                toggle whole calendar
            </label>
        </div>
        <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
                toggle weekends
            </label>
        </div> -->
        <div class='demo-app-sidebar-section'>
            <h2>Tât Cả Sự Kiện ({{currentEvents.length}})</h2>
            <ul>
                <li *ngFor='let event of currentEvents'>
                    <b>{{event.startStr}}</b>
                    <i>{{event.title}}</i>
                </li>
            </ul>
        </div>
    </div>

    <div class='demo-app-main'>
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
            </ng-template>
        </full-calendar>
    </div>

</div>