<div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; let i = index "
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}"
    >
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" 
        class="dot" [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)"
        >
        </span>
    </div>
    <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
        ></i>
    </button>
    <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"
        ></i>
    </button>
    <div class="text-content">
        <h2 class="text-heading">
            CHĂM CHỈ TẬP LUYỆN
        </h2>
        <div class="text-discription">Thành Công Không Bao Giờ Đến với người bỏ cuộc</div>
        <div class="text-discription-1">Đăng ký tài khoản và đăng nhập để gia hạn tài khoản</div>
    </div>
</div>
