<section class="footer-list">
    <div class="footer">
        <div class="footer-container-fuild">
            <div class="footer-row">
                <div class="footer-left">
                    <p class="footer-name">PHÒNG TẬP THỂ THAO GYM TM</p>
                    <p class="footer-hotline">
                        Hotline:
                        <a href="tel:0346217095">0346217095</a>
                    </p>
                    <p class="footer-email">
                        Email:
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">
                            phonggymtm@gmail.com
                        </a>
                    </p>
                </div>
                <div class="footer-mid">
                    <ul>
                        <li>Hệ thống phòng Gym lớn nhất Hà Nội</li>
                        <li>Tổng hơn 1000 học viên</li>
                        <li>Một đơn vị phòng tập có diện Tích lên đến 1000m2</li>
                    </ul>
                </div>
                <div class="footer-right">
                    <ul>
                        <li>Chuyên một số bộ phân võ thuật</li>
                        <li>Gồm 2 cơ sở tại Từ Sơn</li>
                        <li>Quy tụ hơn 100 HLV, Thầy YoGa từ trường Đại Học Thể Thao Bắc Ninh</li>
                    </ul>
                </div>
            </div>
            <div class="footer-line"></div>
            <div class="footer-icon">
                <div class="home">

                </div>
                <div class="footer-time-left">
                    <p>Thời gian mở cửa</p>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="https://rubyfitness.vn/upload/userfiles/images/rubyfitness-new_75.png
                                    " alt="">
                                </td>
                                <td>
                                    <p class="time-IO">
                                        <span>Monday - Friday</span>
                                        <br>
                                        "5:00Am - 9:00Pm"
                                    </p>

                                    <p class="time-IO">
                                        <span>Saturday - Sunday</span>
                                        <br>
                                        "7:00Am - 5:00Pm"
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clear"></div>
                <div class="footer-address-mid">
                    <p>PHÒNG TẬP GYM TM</p>
                    <div class="address-gym">
                        <div class="address-gym-img">
                            <img src="https://rubyfitness.vn/images/imgwebsite/add.png" alt="">
                        </div>
                        <div class="address-gym-content">
                            Địa chỉ: 48 xóm Tân Hậu - Hương Mạc - Từ Sơn - Bắc Ninh
                        </div>
                    </div>
                    <div class="address-gym">
                        <div>
                            <img src="https://rubyfitness.vn/images/imgwebsite/phone.png" alt="">
                        </div>
                        <div class="address-gym-phone">
                            0346217095
                        </div>
                    </div>
                    <div class="address-gym">
                        <div>
                            <img src="https://rubyfitness.vn/images/imgwebsite/mail.png" alt="">
                        </div>
                        <div class="address-gym-phone">
                            Email: tranhuythanh1997z@gmail.com
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="footer-mxh-right">
                    <p>Danh mục mạng xã hội</p>
                    <span class="social_footer">
                        <a href="https://www.facebook.com/pages/GYM-Tuy%E1%BA%BFt-Mai/1731153260487067" class="iconmxh">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="iconmxh" alt="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="iconmxh" alt="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="" class="iconmxh" alt="twitch">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>