.card-title {
    /* float: left; */
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
    font-weight: 700;
}

.header-home {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
    font-weight: 700;
}